*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-behavior: cubic-bezier(0.2, 0, 0.38, 1);
}
.container{
    background-color: black;
}
.navbar{
    background-color: aqua;
    min-height: fit-content;
}
.Introduction{
    background-color: blue;
    min-height: 70vh;
}
.About{
    background-color: chartreuse;
    min-height: 70vh;
}
.services{
    background-color: gold;
    min-height: 50vh;
}
.workexamples{
    background-color: red;
    min-height: 70vh;
}
.smediahandles{
    background-color: brown;
    min-height: 80vh;
}
.contactinfo{
    background-color: goldenrod;
    min-height: 80vh;
}
.comments{
    background-color: grey;
    min-height: 60vh;
}
.footer{
    background-color: purple;
    min-height: min-content;
}
